*{
    margin:0;
    outline:none;
    list-style: none;
    /*font:400 16px Oswald;*/
}


h2{
    margin-top:80px;
}

#sair{
    background-color: #00678E;
    border-radius: 5px;
    float: right;
    font: 400 21px Oswald;
    height: 40px;
    position: relative;
    text-align: center;
    top: -105px;
    width: 8%;
}

#sair a{
    text-decoration: none;
    color:#fff;
}

#sair a:active, a:visited{
    text-decoration: none;
    color:#fff;
}

#sair a:hover{
    color:#0089BC;
}

#body{
   /* font:300 16px Oswald;*/
   margin:0 auto;
   position: relative;
   width: 100%;
   color:#ffffff;
}

#relatorioalu{
    margin: 0 auto;
    position: relative;
    width:100%;
}

.logo{
    margin:173px auto 0;
    width: 481px;    
    position: relative;
}

.usuario{
    margin:0 auto;
    position: relative;
    width:100%;
    height: 100px;
}

.message{
    z-index: 20;
    margin:0 auto;
    position:relative;
    width: 200px;
    height: 50px;
}

#login{
    margin: 0 auto;
    position: relative;
    width: 450px;
}


#login label{
    
}

.flash{
    width:100%;
    height: 40px;
    background: #C00;
    opacity: 0.5;
    text-align: center;
    line-height: 40px;
    font: 400 21px Oswald;
    color: #fff;
    position: absolute;
    top:0;
    left: 0;
}


#formcad{
    margin: 0 auto;
    width: 500px;
}

//classes de herança

.bradius{
    border-radius: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.transition{
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
}